body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
}

h1 {
    text-align: center;
    margin-top: 4rem;
}

.chapters-table {
    max-width: 450px;
    margin: 6rem auto;
}

ul.chapters {
    padding: 0;
}

li.chapter.heading {
    font-weight: bold;
}

li {
    list-style: none;
}

li.chapter p {
    flex: 0 1 auto;
}

li.chapter {
    display: flex;
    justify-content: space-between;
}